.app-header {
    box-sizing: border-box;
    position: absolute;
    top: 0px;
    left: 0px;

    .app-logo {
        position: absolute;
        top: 8px;
        left: 8px;
        display: inline-block;
        height: 32px;
        width: auto;
    }

    .app-name {
        position: absolute;
        top: calc(50% - 2px);
        left: 56px;
        transform: translate(0, -50%);
        font-weight: 400;
    }

    .auth-btn {
        position: absolute;
        top: 50%;
        right: 8px;
        transform: translate(0, -50%);
    }

    .user-button {
        position: absolute;
        top: 50%;
        right: 8px;
        transform: translate(0, -50%);
        cursor: pointer;
        transition: filter 0.1s;

        &:hover {
            filter: brightness(2);
        }
    }
}
