.container {
    position: absolute;
    top: 50%;
    left: 50%;
    display: inline-block;
    width: 75%;
    height: fit-content;
    transform: translate(-50%, -50%);
    .index-actions {
        .action-btns {
            .button {
                width: 25%;
            }
        }

        .game-list {
            .game-card {
                width: 20%;
                .game-image {
                    height: 128px;
                    width: auto;
                    user-select: none;
                    pointer-events: none;
                    border-radius: 4px;
                }
            }
        }
    }
}
